<div class="card" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
  <h5 class="card-header">ID Token Details</h5>
  <div class="card-body">
    <p class="card-text">
      The following is a limited subset of some important claims in your ID Token.
    <table class="table table">
      <thead>
        <tr>
          <th scope="col">Claim Type</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="claim : ${claims}">
          <th scope="row" th:text="${claim.key}"></th>
          <td th:text="${claim.value}"></td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-success" href="/sign_in_status">Sign-in Status</a>
    </p>
  </div>
</div>
